:root {
    /* fonts */
    --ce-title-font: 'Bebas Neue', sans-serif;
    --ce-subtitle-font: 'Fire Sans', sans-serif;
    --ce-heading-font: 'Bebas Neue', sans-serif;
    --ce-body-font: 'Roboto', sans-serif;

    /* colors */
    --ce-dark-color: var(--ce-theme-850);
    --ce-light-color: #deeefb;
    --ce-background-color: rgba(250, 250, 250, 0.8);

    /* text styles */
    --ce-font-size: 1.2rem;
    --ce-font-weight: 400;
    --ce-line-height: 1.5rem;
    --ce-title-color: var(--ce-accent-850);

    /* default theme */
    --ce-theme-core: #7ADAF5;
    --ce-theme-100: hsl(193, 50%, 91%);
    --ce-theme-150: hsl(193, 50%, 86%);
    --ce-theme-200: hsl(193, 50%, 81%);
    --ce-theme-300: hsl(193, 50%, 71%);
    --ce-theme-400: hsl(193, 50%, 61%);
    --ce-theme-500: hsl(193, 50%, 51%);
    --ce-theme-600: hsl(193, 50%, 41%);
    --ce-theme-700: hsl(193, 50%, 31%);
    --ce-theme-800: hsl(193, 50%, 21%);
    --ce-theme-850: hsl(193, 50%, 16%);
    --ce-theme-900: hsl(193, 50%, 11%);

    /* accent theme */
    --ce-accent-core: #f5978f;
    --ce-accent-100: hsl(5, 84%, 91%);
    --ce-accent-150: hsl(5, 84%, 86%);
    --ce-accent-200: hsl(5, 84%, 81%);
    --ce-accent-250: hsl(5, 84%, 76%);
    --ce-accent-300: hsl(5, 84%, 71%);
    --ce-accent-400: hsl(5, 84%, 61%);
    --ce-accent-500: hsl(5, 84%, 51%);
    --ce-accent-600: hsl(5, 84%, 41%);
    --ce-accent-700: hsl(5, 84%, 31%);
    --ce-accent-800: hsl(5, 84%, 21%);
    --ce-accent-850: hsl(5, 84%, 16%);
    --ce-accent-900: hsl(5, 84%, 11%);
}

/* #region Element Overrides */
body {
    font-family: var(--ce-body-font);
    font-size: var(--ce-font-size);
    font-weight: var(--ce-font-weight);
    line-height: var(--ce-line-height);
    color: var(--ce-dark-color);
    background-color: var(--ce-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ce-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ce-title-color);
    letter-spacing: .1rem;
}

a {
    color: var(--ce-accent-400);
    transition: .25s ease-in-out;
}

a:hover {
    color: var(--ce-accent-300)
}

/* TO DO: Edit this margin later? Currently set to make sure footer never hides content */
main {
    margin-bottom: 5.5rem;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    --bs-btn-bg: var(--ce-accent-250);
    --bs-btn-border-color: var(--ce-accent-250);
    --bs-btn-hover-bg: var(--ce-accent-300);
    --bs-btn-hover-border-color: var(--ce-accent-300);
}

/*  #endregion Element Overrides */

/* #region Home Section */
#home {
    background-color: var(--ce-theme-900);
    background-image: url(/img/meteor-over-mountain.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

#home-cover {
    backdrop-filter: brightness(0.35) blur(1px);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-attr {
    position: absolute;
    bottom: 9vh;
    right: 1rem;
    font-size: .6rem;
}

#main-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 50vh;
    width: 75%;
}

#home-contact {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 42vh;
    width: 100%;
}

#home-contact>.btn {
    font-size: .6rem;
}

.main-title,
.sub-title {
    color: var(--ce-light-color);
    text-transform: uppercase;
}

.main-title {
    font-family: var(--ce-title-font);
    font-size: 4.5rem;
    line-height: 4rem;
}

.sub-title {
    font-family: var(--ce-subtitle-font);
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

/* #endregion Home Section */

/* #region Main Content */

.section-page {
    padding-top: 5rem;
    padding-bottom: 8rem;
    position: relative;
    overflow: visible;
    margin-top: -3rem;
}

.section-page>.container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    /* for curved cuts between sections */
    /* clip-path: ellipse(50% 100% at top center); */
    z-index: 1;
}

/* triangular cuts */
.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

/* alternating backgrounds per section */
.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color: var(--ce-theme-100);
}

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: var(--ce-theme-150);
}

/* attribution for images */
#about-attr {
    padding-right: 4rem;
    font-size: .6rem;
}

/* #endregion Main Content */

/* #region Footer Styles */
.social-icons {
    font-size: 2rem;
    transition: color 0.5s;
    color: var(--ce-accent-250);
}

.social-icons:hover {
    color: var(--ce-accent-300)
}

footer.fixed-bottom {
    background-color: var(--ce-theme-850);
}

footer .card {
    background-color: var(--ce-accent-250);
}

footer .card-body {
    color: var(--ce-accent-850);
}

footer a {
    color: var(--ce-accent-600);
}

footer a:hover {
    color: var(--ce-accent-500);
}

/* #endregion Footer Styles */

/* #region Media Queries */

/* Select XS devices smaller than bootstrap SM breakpoint */
@media (min-width: 448px) {
    #home-contact>.btn {
        font-size: .8rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #home-contact>.btn {
        font-size: 1rem;
    }

    #home-attr {
        font-size: .8rem;
    }

    #about-attr {
        font-size: .8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home-contact>.btn {
        font-size: 1.2rem;
    }

    #about-attr {
        padding-right: 1rem;
    }
}

@media (min-width: 992px) {
    #about-attr {
        padding-right: 4rem;
    }
}

/* #endregion Media Queries */